In [1]:
import pickle
import pandas as pd
from get_tweets import get_tweets

In [15]:
with open('movies_data1.pkl', 'r') as picklefile:
    movies_scraped, movies_skipped = pickle.load(picklefile)

In [16]:
movies = pd.DataFrame(movies_scraped)
movies.dropna(axis=0, subset=['domestic_total_gross'], inplace=True)
movies.sort_values(by='domestic_total_gross', ascending=False, inplace=True)

In [20]:
print len(movies)
print movies[:10]

14682
              BOM_id                                             actors  \
9982       starwars7  John BoyegaDaisy RidleyAdam DriverOscar IsaacA...
13275         avatar  Sam WorthingtonZoe SaldanaSigourney WeaverMich...
1772   jurassicpark4  Nick RobinsonOmar SyChris PrattBryce Dallas Ho...
2616      avengers11  Robert Downey, Jr.Chris HemsworthChris EvansJe...
7211         titanic  Leonardo DiCaprioKate WinsletBilly ZaneKathy B...
9173      darkknight  Christian BaleHeath LedgerAaron EckhartMorgan ...
4547       pixar2015  Ellen DeGeneres (Voice)Albert Brooks (Voice)Ed...
3565       avengers2  Robert Downey, Jr.Chris HemsworthMark RuffaloC...
953          batman3  Christian BaleMichael CaineAnne HathawayTom Ha...
4183          shrek2  Mike Myers (Voice)Cameron Diaz (Voice)Eddie Mu...

            budget                                   director   distributor  \
9982   245000000.0                                J.J. Abrams   Buena Vista
13275          NaN                              James Cameron           Fox
1772   150000000.0                            Colin Trevorrow     Universal
2616   220000000.0                                Joss Whedon   Buena Vista
7211   200000000.0                              James Cameron     Paramount
9173   185000000.0                          Christopher Nolan  Warner Bros.
4547           NaN  Angus MacLane (co-director)Andrew Stanton   Buena Vista
3565   250000000.0                                Joss Whedon   Buena Vista
953    250000000.0                          Christopher Nolan  Warner Bros.
4183   150000000.0    Andrew AdamsonKelly AsburyConrad Vernon    DreamWorks

       domestic_total_gross               genre                   movie_title  \
9982            936662225.0      Sci-Fi Fantasy  Star Wars: The Force Awakens
13275           749766139.0    Sci-Fi Adventure                        Avatar
1772            652270625.0  Action / Adventure                Jurassic World
2616            623357910.0  Action / Adventure         Marvel's The Avengers
7211            600788188.0             Romance                       Titanic
9173            533345358.0  Action / Adventure               The Dark Knight
4547            485918351.0           Animation                  Finding Dory
3565            459005868.0  Action / Adventure       Avengers: Age of Ultron
953             448139099.0     Action Thriller         The Dark Knight Rises
4183            441226247.0           Animation                       Shrek 2

       opening_income_wend  opening_theaters rating release_date  runtime_mins
9982           247966675.0            4134.0  PG-13   2015-12-18         136.0
13275           77025481.0            3452.0  PG-13   2009-12-18         160.0
1772           208806270.0            4274.0  PG-13   2015-06-12         124.0
2616           207438708.0            4349.0  PG-13   2012-05-04         142.0
7211            28638131.0            2674.0  PG-13   1997-12-19         194.0
9173           158411483.0            4366.0  PG-13   2008-07-18         150.0
4547           135060273.0            4305.0     PG   2016-06-17         103.0
3565           191271109.0            4276.0  PG-13   2015-05-01         141.0
953            160887295.0            4404.0  PG-13   2012-07-20         165.0
4183           108037878.0            4163.0     PG   2004-05-19          93.0

In [22]:
print movies['genre'].unique()
print movies['genre'].value_counts()

[u'Sci-Fi Fantasy' u'Sci-Fi Adventure' u'Action / Adventure' u'Romance'
 u'Animation' u'Action Thriller' u'Period Adventure' u'Sci-Fi Action'
 u'Fantasy' u'Historical Drama' u'Adventure' u'Action' u'Family Adventure'
 u'Sci-Fi Horror' u'Drama' u'Comedy / Drama' u'Horror' u'Family Comedy'
 u'Comedy' u'Sci-Fi Thriller' u'Horror Thriller' u'Sports Drama'
 u'Sci-Fi Comedy' u'Fantasy Comedy' u'Action Drama' u'Romantic Comedy'
 u'Action Comedy' u'Horror Comedy' u'Sci-Fi' u'Fantasy Drama' u'Thriller'
 u'War' u'Period Action' u'Action Horror' u'Historical Epic' u'Western'
 u'Crime Comedy' u'Adventure Comedy' u'Period Drama' u'Musical'
 u'Sports Comedy' u'Drama / Thriller' u'Crime Drama' u'Foreign / Action'
 u'Period Horror' u'Music Drama' u'Western Comedy' u'Documentary'
 u'War Drama' u'Sports Action' u'Period Comedy' u'Crime' u'Action / Crime'
 u'War Romance' u'IMAX' u'Action Fantasy' u'Crime Thriller'
 u'Romantic Thriller' u'Comedy Thriller' u'Family' u'Romantic Adventure'
 u'Concert' u'Foreign' u'Foreign / Horror' u'Unknown' u'Sports']
Unknown               2065
Foreign               1671
Drama                 1524
Documentary           1512
Comedy                1359
Comedy / Drama         457
Animation              451
Romantic Comedy        451
Horror                 430
Thriller               419
Action                 290
Romance                250
Drama / Thriller       214
Crime Drama            186
Period Drama           169
Action Comedy          167
Family Comedy          158
Family Adventure       142
Music Drama            132
Sports Drama           121
Action Thriller        115
Action / Adventure     114
Crime Comedy           112
Horror Comedy          111
Crime Thriller          94
Fantasy                 94
Horror Thriller         92
Musical                 92
Foreign / Action        89
Sci-Fi Action           84
                      ...
Sci-Fi Horror           65
Sci-Fi Adventure        63
Fantasy Drama           59
War Drama               58
Period Adventure        54
Sci-Fi Thriller         53
Romantic Thriller       51
Action / Crime          50
Adventure               49
Concert                 49
Period Comedy           48
Historical Drama        48
War                     47
Sci-Fi Comedy           47
Sci-Fi                  44
Action Horror           40
Comedy Thriller         40
Crime                   39
Foreign / Horror        29
Adventure Comedy        23
Sci-Fi Fantasy          19
Period Action           18
Historical Epic         17
Action Fantasy          16
Western Comedy          14
Period Horror           14
Sports Action           12
War Romance              5
Romantic Adventure       4
Sports                   1
Name: genre, dtype: int64